
.main_header_container{
    box-shadow: 0px 0px 10px #8888;
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
    z-index: 9;
}
.header_container{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header_container .logo span{
    color: purple;
}
.header_container .menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header_container .menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: .3s linear;
}
.header_container .menu a:hover{
    color: purple;
}
.header_container .profile_icon{
    align-items: center;
    display: flex;
    justify-content: end;
}
.header_container .profile_icon .menu_icon{
    margin-right: 10px;
    display: none; 
}
.header_container .profile_icon .person_icon:hover{
    user-select: none;
}
.header_container .profile_icon .person_icon:hover{
    cursor: pointer;
}
.user_name, .user_email{
    color: purple;
}
.user_box_container{
    position: relative;
}
@keyframes fadeUp{
    0%{
        transform: translateY(16px);
        opacity: 0.3;
    }
}
.user_box_container .user_box{
    border: 1px solid purple;
    overflow-wrap: break-word;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    background: #f7f7f7;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #8888;
    display: none;
    animation: fadeUp .3s linear;
}
.user_box_container .user_box.active{
    display: inline-block;
}
.user_box_container .user_box .btn{
    background-color: purple;
    color: white;
    padding-bottom: 8px;
}
.user_box_container .user_box .btn:hover{
    background: rgb(65, 65, 65);
}
.menu_icon_container{
    position: absolute;
    right: 0;
    left: 0;
}
.menu_icon_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    background: #f7f7f7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-bottom: 3px solid rgb(188, 30, 188, 0.1);
    /* position: absolute; */
}
.menu_icon_menu.active1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 9;
}
.menu_icon_menu .menu_item{
    padding: 3px;
    justify-content: center;
    border-bottom: 1px solid #ffff;
    align-items: center;
    display: flex;
    transition: .1s linear;
}
.menu_icon_menu .menu_item:hover{
    cursor: pointer;
    background-color: purple;
}
.menu_icon_menu .menu_item a{
    text-decoration: none;
    user-select: none;
    color: black;
    padding-left: 50%;
    padding-right: 50%;
}
@media only screen and (max-width: 991px){
    .header_container .profile_icon .menu_icon{
        display: inline-block;
        user-select: none;
        cursor: pointer;
    }
    .header_container .menu{
        display: none;
    }
}
@media only screen and (max-width: 476px){
    .header_container .logo h4{
        font-size: 15px;
    }
}